<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "NBA Stats App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "NBA Stats App" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
      <div class="jumbotron text-center">
        <img src="https://pngimg.com/uploads/nba/nba_PNG14.png" alt="" width="75">
        <h1>
          Welcome to NBA's Unofficial Stats App
        </h1>
      </div>

        <p>
          <%= link_to 'Home', root_path %> |
          <%= link_to 'Teams', teams_path %> |
          <%= link_to 'Players', players_path %> |
          <%= link_to 'Seasons', seasons_path %> |
          <%= link_to 'Games', games_path %>
        </p>
      </header>
      <%= yield %>
      <footer>
        Copywrong NBA 2020
      </footer>
    </div>
  </body>
</html>
